<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pc="http://primefaces.org/california"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="menucontent">
                <pc:menu model="#{menuMBean.model}" style="text-align: left;background-color: #122e51;"/>
            </ui:define>
            <ui:define name="appcontent">
                <h:form id="appform">
                    <p:growl id="msgs" sticky="true" autoUpdate="true"  showDetail="true" life="10500"/>
                    <h:panelGroup id="opmain" >
                        <div class="ui-lightbox-content-wrapper">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <p:panelGrid columns="2" class="header-content-panel">          
                                        <p:commandButton id="tambah" value="Tambah" class="blue-btn"
                                                         oncomplete="PF('modulDialog').show()"
                                                         update="appform tambah">
                                        </p:commandButton>
                                        <p:selectOneMenu  id="grp" value="#{masterModuleMBean.dbref}" filter="true" >
                                            <p:ajax event="change" listener="#{masterModuleMBean.onChange()}" update="tUser" />
                                            <f:selectItem itemLabel="Pilih DB Ref"  itemValue="" noSelectionOption="true"/>
                                            <f:selectItems var="dbref" value="#{masterModuleMBean.listAccount}" 
                                                           itemValue="#{dbref.dbref}" itemLabel="#{dbref.dbref}" />

                                        </p:selectOneMenu>
                                    </p:panelGrid>
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <p:dataTable id="tUser" var="mmastermodule" selectionMode="single" rowKey="#{mmastermodule}"
                                                 value="#{masterModuleMBean.listMasterModule}" widgetVar="wtmastermodue"
                                                 selection="#{masterModuleMBean.selectedMasterModule}" editable="true" reflow="true"
                                                 emptyMessage="No cars found with given criteria" scrollable="true" rowIndexVar="rowindex"
                                                 paginator="true" rows="5" rowsPerPageTemplate="5, 10, 20, 25" paginatorPosition="bottom"
                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} 
                                                 {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">


                                        <p:ajax event="rowEdit" listener="#{masterModuleMBean.onRowEdit}" update=":appform:msgs" />
                                        <p:ajax event="rowEditCancel" listener="#{masterModuleMBean.onRowCancel}" update=":appform:msgs" />


                                        <f:facet name="header">
                                            <p:outputPanel style="text-align: right">
                                                <p:outputLabel value="Search : " />
                                                <p:inputText id="globalFilter"   onkeyup="PF('wtmastermodue').filter()" style="width: 150px; font-size: 12px"/>
                                            </p:outputPanel>

                                        </f:facet>
                                        <p:column   headerText="N0" style="width: 20px;text-align: center;font-size: 12px">
                                            <h:outputText value="#{rowindex+1}" />
                                        </p:column>
                                        <p:column filterBy="#{mmastermodule.masterkey}" filterStyle="display:none" headerText="ID" style="font-size: 12px">
                                            <h:outputText value="#{mmastermodule.masterkey}" />
                                        </p:column>
                                        <p:column filterBy="#{mmastermodule.modulename}" filterStyle="display:none" headerText="Modul Name " style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{mmastermodule.modulename}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{mmastermodule.modulename}" style="width:100%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{mmastermodule.icon}" filterStyle="display:none" headerText="Icon" style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{mmastermodule.icon}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{mmastermodule.icon}" style="width:100%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{mmastermodule.description}" filterStyle="display:none" headerText="Deskripsi " style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{mmastermodule.description}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{mmastermodule.description}" style="width:100%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{mmastermodule.link}" filterStyle="display:none" headerText="Link " style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{mmastermodule.link}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{mmastermodule.link}" style="width:100%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        
                                        <p:column style="width:32px">
                                            <p:rowEditor />
                                        </p:column>
                                    </p:dataTable>
                                </div>

                            </div>  

                        </div>
                    </h:panelGroup>
                    

                    <p:contextMenu for="tUser">
                        <p:menuitem value="Tambah" update="userDetail" icon="ui-icon-search" oncomplete="PF('modulDialog').show()"/>
                        <p:menuitem value="Delete" update="tUser" icon="ui-icon-close" actionListener="#{masterModuleMBean.onDelete()}">
                            <p:confirm header="Hapus Data" message="Yakin hapus Account #{masterModuleMBean.selectedMasterModule.modulename} ?" 
                                       icon="ui-icon-alert" />
                        </p:menuitem>
                    </p:contextMenu>

                    <p:dialog header="Tamabh Module" widgetVar="modulDialog" modal="true" showEffect="explode" hideEffect="explode" 
                              responsive="true" resizable="false">
                        <p:outputPanel id="userDetail" style="text-align:center;">
                            <p:panelGrid  columns="2" columnClasses="label,value">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column colspan="3" style="font-weight: bold;">MODULE</p:column>
                                    </p:row>
                                </f:facet>
                                <p:outputLabel for="modulename" value="Module Name : " />
                                <p:inputText id="modulename" value="#{masterModuleMBean.modulename}"/>
                                <p:outputLabel for="icon" value="Icon : " />
                                <p:inputText id="icon" value="#{masterModuleMBean.icon}"/>
                                <p:outputLabel for="description" value="Deskripsi : " />
                                <p:inputText id="description" value="#{masterModuleMBean.description}"/>
                                <p:outputLabel for="link" value="Link : " />
                                <p:inputText id="link" value="#{masterModuleMBean.link}"/>
                            </p:panelGrid>
                            <p:panelGrid columns="1" layout="grid">
                                <p:row >
                                <p:column colspan="6" >
                                    <p:commandButton id="simpan" value="Simpan" class="blue-btn" 
                                                     update="appform tambah"  action="#{masterModuleMBean.onCreate()}"/>

                                    <p:commandButton id="hapus" value="Hapus" style="margin-left: 20px;margin-right: 20px" 
                                                     class="blue-btn" actionListener="#{masterModuleMBean.onClear()}"/>
                
                                   
                                   
                                    <!--konfirmasi dialog CommandButton-->
                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                    </p:confirmDialog>

                                </p:column>
                            </p:row>
                            </p:panelGrid>
                            
                        </p:outputPanel>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

