<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    
    <div class="layout-footer ui-g-12" style="background:linear-gradient(-206deg, #122e51 5%, #122e51 100%);">
        <div class="ui-g">
            <div class="ui-g-12 ui-md-6 footer-left">
                <p> &#169; 2016 - KEMENDAGRI |  All rights reserved.</p>
            </div>
        </div>
    </div>
    
</ui:composition>