<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html">
    
    <h:form id="menubreadcrumbform">
        <div class="route-bar">
            <div class="route-bar-breadcrumb">
                <a href="#{logoutMbean.onOffice()}" data-tooltip="Modul">
                    <i class="fa fa-th-large"></i> <span> </span> Modul Aplikasi <span> </span>
                </a>
            </div>
            <ul class="route-bar-menu">
                <li>
                    <a href="#" data-tooltip="User Guide">
                        <i class="fa fa-question-circle"></i>
                    </a>
                </li>
            </ul>
        </div>
    </h:form>
</ui:composition>