<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:pu="http://primefaces.org/ultima"
                xmlns:p="http://primefaces.org/ui">
    <h:form id="menuform">
        <div class="layout-sidebar layout-sidebar-dark ">
            <div id="nano-container" class="nano">
                <div class="nano-content sidebar-scroll-content" style="background: linear-gradient(-206deg, #122e51 5%, #122e51 100%)">
                    <div class="user-profile">
                        <a id="sidebar-profile-button" href="#" >
                            <img src="./resources/images/logo_kemendagri.png" alt="logo pemda" />
                            <span class="sidebar-profile-name">#{menuMBean.user}</span>
                            <!--<span class="sidebar-profile-role">Administrator</span>-->
                        </a>
                        <ul id="sidebar-usermenu" class="usermenu">
                            <li>
                                <span class="topbar-item-name">
                                    <p:commandLink value="Profile" actionListener="#{menuMBean.klickProfile()}"/>
                                </span>
                            </li>
                        </ul>
                    </div>
                    <ui:insert name="menucontent"></ui:insert>
                </div>
            </div>
        </div>
    </h:form>
</ui:composition>