<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <h:outputScript name="js/nanoscroller.js" library="california-layout" />
        <h:outputScript name="js/layout.js" library="california-layout" />
        <h:outputStylesheet name="css/nanoscroller.css" library="california-layout" />
        <h:outputStylesheet name="css/layout-alive.css" library="california-layout" />
        <!--<h:outputStylesheet name="css/layout-blue.css" library="california-layout" />-->
        <link href="#{resource['california-layout:images/kemendagricon.ico']}" rel="icon" type="image/png"/>
        <title>SIAP KEUDA</title>
    </h:head>
    <h:body class="main-body">
        <div class="layout-wrapper">
            <ui:include src="./topbar.xhtml" />
            <ui:include src="./menu.xhtml" />
            <!--CONTENT PAGE-->
            <div class="layout-main">
                <ui:include src="./menubreadcrumb.xhtml" />
                <div class="layout-main-content">
                        <ui:insert name="appcontent"></ui:insert>
                        <p:ajaxStatus onstart="PF('statusDialog').show()" 
                                      onsuccess="PF('statusDialog').hide()">
                        </p:ajaxStatus>
                        <p:dialog widgetVar="statusDialog" modal="true" draggable="false" closable="false" resizable="false" showHeader="false">
                            <p:graphicImage alt="loader" url="#{resource['california-layout:images/ajax_loader_orange_32.gif']}" />
                        </p:dialog>
                </div>
                <ui:include src="./footer.xhtml" />
            </div>
        </div>
    </h:body>
</html>