<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pu="http://primefaces.org/ultima">
                 
    <div class="layout-topbar">
        <a href="#{logoutBean.onOffice()}" class="logo">
            <img src="#{resource['california-layout:images/logo.png']}" alt="logo pemda" />
        </a>

        <a id="menu-button" href="#" class="menu-button">
            <i class="fa fa-align-center"></i>
        </a>
        <h:form>
            <div class="ui-g"   style="float: right; margin-top: -50px; padding-top: -25px; 
                           margin-right: 15px; color: #fff; font-size: 36px;">
                <p:commandButton id="right-sidebar-button" icon="fa fa-power-off" 
                               actionListener="#{logoutMbean.deleteSession()}">
                    <p:confirm header="Confirmation" message="Yakin akan keluar ?" icon="ui-icon-alert" />
                </p:commandButton>
                <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                    <p:commandButton value="Ya" type="button " styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                    <p:commandButton value="Tidak" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                </p:confirmDialog>
            </div>
        </h:form>
    </div>
</ui:composition>