<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pc="http://primefaces.org/california"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="menucontent">
                <pc:menu model="#{menuMBean.model}" style="text-align: left;background-color: #122e51;"/>
            </ui:define>
            <ui:define name="appcontent">
                <h:form id="appform">
                    <p:growl id="msgs" sticky="true" autoUpdate="true"  showDetail="true" life="10500"/>
                    <h:panelGroup id="opmain" rendered="#{userAccountMBean.renderOp1}">
                        <div class="ui-lightbox-content-wrapper">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <p:panelGrid columns="2" class="header-content-panel">          
                                        <p:commandButton id="tambah" value="Tambah Group Menu" class="blue-btn"
                                                         actionListener="#{configMenuMBean.setConfig()}"
                                                         update="appform tambah">
                                            <!--<f:ajax listener="# {userAccountMBean.tambahAccount()}" render="appform tambah" />-->
                                        </p:commandButton>
                                        <p:selectOneMenu  id="ref" value="#{configMenuMBean.dbref}" filter="true" >
                                            <p:ajax event="change" listener="#{configMenuMBean.selectDBRef()}" update=":appform:tUser" />
                                            <f:selectItem itemLabel="Pilih DB Ref"  itemValue="" noSelectionOption="true" />
                                            <f:selectItems var="dbref" value="#{configMenuMBean.listUserAccount}" 
                                                           itemValue="#{dbref.dbref}" itemLabel="#{dbref.dbref}" />

                                        </p:selectOneMenu>
                                    </p:panelGrid>
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <p:dataTable id="tUser" var="mappmenu" selectionMode="single" rowKey="#{mappmenu}"
                                                 value="#{configMenuMBean.listAppMenu}" widgetVar="wtappmenu"
                                                 selection="#{configMenuMBean.selectAppMenu}" editable="true" reflow="true"
                                                 emptyMessage="No cars found with given criteria" scrollable="true" rowIndexVar="rowindex"
                                                 paginator="true" rows="5" rowsPerPageTemplate="5, 10, 20, 25" paginatorPosition="bottom"
                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} 
                                                 {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">


                                        <p:ajax event="rowEdit" listener="#{configMenuMBean.onRowEdit}" update=":appform:msgs,:appform:tUser" />
                                        <p:ajax event="rowEditCancel" listener="#{configMenuMBean.onRowCancel}" update=":appform:msgs,:appform:tUser" />


                                        <f:facet name="header">
                                            <p:outputPanel style="text-align: right">
                                                <p:outputLabel value="Search : " />
                                                <p:inputText id="globalFilter"   onkeyup="PF('wtappmenu').filter()" style="width: 150px; font-size: 12px"/>
                                            </p:outputPanel>

                                        </f:facet>
                                        <p:column   headerText="N0" style="width: 20px;text-align: center;font-size: 12px">
                                            <h:outputText value="#{rowindex+1}" />
                                        </p:column>
                                        <p:column filterBy="#{mappmenu.groupname}" filterStyle="display:none" headerText="User Group" style="font-size: 12px">
                                            <h:outputText value="#{mappmenu.groupname}" />
                                        </p:column>
                                        <p:column filterBy="#{mappmenu.menuname}" filterStyle="display:none" headerText="Menu " style="font-size: 12px">
                                                <h:outputText value="#{mappmenu.menuname}" />
                                        </p:column>
                                        <p:column filterBy="#{mappmenu.read}" filterStyle="display:none" headerText="Read" style="width: 70px;font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{mappmenu.read}" /></f:facet>
                                                <f:facet name="input">
                                                    <p:selectBooleanCheckbox value="#{mappmenu.read}" />
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{mappmenu.write}" filterStyle="display:none" headerText="Write" style="width: 70px;font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{mappmenu.write}" /></f:facet>
                                                <f:facet name="input">
                                                    <p:selectBooleanCheckbox value="#{mappmenu.write}" />
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{mappmenu.printing}" filterStyle="display:none" headerText="Printing" style="width: 70px;font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{mappmenu.printing}" /></f:facet>
                                                <f:facet name="input">
                                                    <p:selectBooleanCheckbox value="#{mappmenu.printing}" />
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{mappmenu.externalAccess}" filterStyle="display:none" headerText="External Access" style="width: 70px;font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{mappmenu.externalAccess}" /></f:facet>
                                                <f:facet name="input">
                                                    <p:selectBooleanCheckbox value="#{mappmenu.externalAccess}" />
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        
                                        <p:column style="width:32px">
                                            <p:rowEditor />
                                        </p:column>
                                    </p:dataTable>
                                </div>

                            </div>  

                        </div>
                    </h:panelGroup>
                    <h:panelGroup id="opmain2" rendered="#{configMenuMBean.renderOp2}" layout="grid">
                        <p:panelGrid  columns="2" columnClasses="ui-grid-col-6,ui-grid-col-6" 
                                      layout="grid">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="3" style="font-weight: bold;">Configurasi Group Menu </p:column>
                                </p:row>
                            </f:facet>
                           <p:outputLabel for="grp" value="User Group : "/>
                           <p:selectOneMenu  id="grp" value="#{configMenuMBean.idusergroup}" filter="true" >
                               <p:ajax event="change" listener="#{configMenuMBean.onChangeGroup()}" update=":appform:checkboxDT" />
                                <f:selectItem itemLabel="Pilih Group"  itemValue="" noSelectionOption="true"/>
                                <f:selectItems var="group" value="#{configMenuMBean.listUserGroup}" 
                                               itemValue="#{group.masterkey}" itemLabel="#{group.groupname}" />
                            </p:selectOneMenu>
                           
                        </p:panelGrid>
                        <p:panelGrid  columns="1" columnClasses="ui-grid-col-12" 
                                      layout="grid">
                            <p:dataTable id="checkboxDT" var="menu" value="#{configMenuMBean.listMenuMaster}"
                                         selection="#{configMenuMBean.selectedMultiMasterMenu}" rowKey="#{menu.masterkey}" 
                                        style="margin-bottom:0" editable="true" editMode="cell" rowIndexVar="rowindex">
                                <f:facet name="header">
                                    Config Menu Group
                                </f:facet>
                               <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                <p:column   headerText="N0" style="width: 50px;text-align: center">
                                    <h:outputText value="#{rowindex+1}" />
                                </p:column>
                               <p:column   headerText="Id Menu"  style="display: none">
                                   <h:outputText value="#{menu.masterkey}" />
                                </p:column>
                                <p:column   headerText="Menu" style="width: 300px">
                                    <h:outputText value="#{menu.menuname}" />
                                </p:column>
                                <p:column   headerText="Menu Level" style="width: 50px;text-align: center">
                                    <h:outputText value="#{menu.level}" />
                                </p:column>
                                <p:column   headerText="Module " style="width: 50px;text-align: center" >
                                    <h:outputText value="#{menu.appmodul}" />
                                </p:column>
                               <p:column headerText="Read">
                                   <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                   <p:selectBooleanCheckbox value="#{menu.read}"/>
                                </p:column>
                               <p:column headerText="Write" >
                                   <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                   <p:selectBooleanCheckbox value="#{menu.write}" />
                                </p:column>
                               <p:column headerText="Printing" >
                                   <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                    <p:selectBooleanCheckbox value="#{menu.printing}"/>
                                </p:column>
                               <p:column headerText="Ex Access" >
                                   <p:column selectionMode="multiple" style="width:16px;text-align:center"/>
                                   <p:selectBooleanCheckbox value="#{menu.externalAccess}"/>
                                </p:column>
                                
                            </p:dataTable>
                           
                        </p:panelGrid> 
                             <p:separator/>
                            <p:row >
                                <p:column colspan="6" >
                                    <p:commandButton id="simpan" value="Simpan" class="blue-btn" 
                                                     update="appform tambah"  action="#{configMenuMBean.simpan()}"/>

                                    <p:commandButton id="batal" value="Batal" class="blue-btn" update="appform tambah"
                                                     action="#{configMenuMBean.cancel()}"/>
                                   
                                    <!--konfirmasi dialog CommandButton-->
                                    <p:confirmDialog global="true" showEffect="explode" hideEffect="explode">
                                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                    </p:confirmDialog>

                                </p:column>
                            </p:row> 
                        
                    </h:panelGroup>

                    <p:contextMenu for="tUser">
                        <p:menuitem value="View" update="userDetail" icon="ui-icon-search" oncomplete="PF('userDialog').show()"/>
                        <p:menuitem value="Delete" update="tUser" icon="ui-icon-close" actionListener="#{configMenuMBean.hapus()}">
                            <p:confirm header="Hapus Data" message="Yakin hapus Menu #{configMenuMBean.selectAppMenu.menuname} 
                                       Dari Group #{configMenuMBean.selectAppMenu.groupname}"
                                       icon="ui-icon-alert" />
                        </p:menuitem>
                    </p:contextMenu>
                    <p:separator/>
                    <p:dialog header="View" widgetVar="userDialog" modal="true" showEffect="explode" hideEffect="explode" resizable="false">
                        <p:outputPanel id="userDetail" style="text-align:center;">
                            <p:panelGrid  columns="2" rendered="#{not empty configMenuMBean.selectAppMenu}" columnClasses="label,value">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column colspan="3" style="font-weight: bold;">View Config Menu </p:column>
                                    </p:row>
                                </f:facet>
                                <h:outputText value="User Group:" />
                                <h:outputText value="#{configMenuMBean.selectAppMenu.userGroup}" />

                                <h:outputText value="Menu " />
                                <h:outputText value="#{configMenuMBean.selectAppMenu.menuMaster}" />

                                <h:outputText value="Read " />
                                <h:outputText value="#{configMenuMBean.selectAppMenu.read}" style="color: #0872b9"/>

                                <h:outputText value="Write" />
                                <h:outputText value="#{configMenuMBean.selectAppMenu.write}" />

                                <h:outputText value="Printing " />
                                <h:outputText value="#{configMenuMBean.selectAppMenu.printing}" />
                                <h:outputText value="External Access" />
                                <h:outputText value="#{configMenuMBean.selectAppMenu.externalAccess}" />
                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

