<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pc="http://primefaces.org/california"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="/WEB-INF/template.xhtml">
            <ui:define name="menucontent">
                <pc:menu model="#{menuMBean.model}" style="text-align: left;background-color: #122e51;"/>
            </ui:define>
            <ui:define name="appcontent">
                <h:form id="appform">
                    <p:growl id="msgs" sticky="true" autoUpdate="true"  showDetail="true" life="10500"/>
                    <h:panelGroup id="opmain" >
                        <div class="ui-lightbox-content-wrapper">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <p:panelGrid columns="2" class="header-content-panel">          
                                        <p:commandButton id="tambah" value="Buat Menu Parent" class="blue-btn"
                                                         oncomplete="PF('modulMenuUtama').show()"
                                                         update="appform tambah">
                                        </p:commandButton>
                                        <p:selectOneMenu  id="grp" value="#{masterMenuMBean.dbref}" filter="true" >
                                            <p:ajax event="change" listener="#{masterMenuMBean.onChange()}" update=":appform:tUser" />
                                            <f:selectItem itemLabel="Pilih DB Ref"  itemValue="" noSelectionOption="true" />
                                            <f:selectItems var="dbref" value="#{masterMenuMBean.listUserAccount}" 
                                                           itemValue="#{dbref.dbref}" itemLabel="#{dbref.dbref}" />

                                        </p:selectOneMenu>
                                    </p:panelGrid>
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <p:treeTable id="tUser" value="#{masterMenuMBean.root}" var="menu" editable="true"
                                             selectionMode="single" selection="#{masterMenuMBean.selectedNode}" 
                                             >
                                        
                                        
                                        
                                        <p:ajax event="rowEdit" listener="#{masterMenuMBean.onRowEdit}" update=":appform:msgs,:appform:tUser" />
                                        <p:ajax event="rowEditCancel" listener="#{masterMenuMBean.onRowCancel}" update=":appform:msgs,:appform:tUser" />
                                    
                                        <f:facet name="header">
                                            Master Menu
                                        </f:facet>
                                        <p:column filterBy="#{menu.menuname}" filterStyle="display:none" headerText="Menu Name " style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{menu.menuname}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{menu.menuname}" style="width:100%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        
                                        <p:column headerText="Module"> 
                                            <h:outputText value="#{menu.appmodul}" />
                                        </p:column>
                                        
                                        <p:column filterBy="#{menu.link}" filterStyle="display:none" headerText="LINK " style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{menu.link}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{menu.link}" style="width:100%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        
                                        <p:column headerText="Level"> 
                                            <h:outputText value="#{menu.level}" />
                                        </p:column>
                                        <p:column filterBy="#{menu.ismenuitem}" filterStyle="display:none" headerText="Menu Item " style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{menu.ismenuitem}" /></f:facet>
                                                <f:facet name="input"><p:selectBooleanCheckbox value="#{menu.ismenuitem}" /></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        
                                        <p:column filterBy="#{menu.deskription}" filterStyle="display:none" headerText="Deskripsi " style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{menu.deskription}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{menu.deskription}" style="width:100%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column style="width:32px">
                                            <p:rowEditor />
                                        </p:column>
                                    </p:treeTable>
                                </div>

                            </div>  

                        </div>
                    </h:panelGroup>
                    

                    <p:contextMenu for="tUser">
                        <p:menuitem value="Tambah Menu Utama" update="tambahmenuutama" icon="ui-icon-plus" oncomplete="PF('modulMenuUtama').show()"/>
                        <p:menuitem value="Tambah Sub Menu" update="tambahmenu" icon="ui-icon-plus" oncomplete="PF('modulMenu').show()"/>
                        <p:menuitem value="Hapus Menu" update=":appform:tUser" icon="ui-icon-close" actionListener="#{masterMenuMBean.onDelete()}">
                            <p:confirm header="Hapus Menu" message="Yakin hapus Account #{masterMenuMBean.selectedMenuMaster.menuname} ?" 
                                       icon="ui-icon-alert" />
                        </p:menuitem>
                    </p:contextMenu>

                    <p:dialog header="Tamabh Sub Menu" widgetVar="modulMenu" modal="true" showEffect="explode" hideEffect="explode"
                              responsive="true" resizable="false">
                        <p:outputPanel id="tambahmenu" style="text-align:center;">
                            <p:panelGrid  columns="2" columnClasses="label,value">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column colspan="3" style="font-weight: bold;">Tambah Sub Menu</p:column>
                                    </p:row>
                                </f:facet>
                                <p:outputLabel for="menuname2" value="Menu Name : " />
                                <p:inputText id="menuname2" value="#{masterMenuMBean.menuname2}"/>
                                
                                <p:outputLabel for="menuitem2" value="Menu Item : " />
                                <p:selectBooleanCheckbox id="menuitem2" value="#{masterMenuMBean.ismenuitem2}" />
                                
                                <p:outputLabel for="link2" value="Link : " />
                                <p:inputText id="link2" value="#{masterMenuMBean.link2}"/>
                                
                                <p:outputLabel for="description2" value="Deskripsi : " />
                                <p:inputText id="description2" value="#{masterMenuMBean.description2}"/>
                                
                            </p:panelGrid>
                            <p:panelGrid columns="1" layout="grid">
                                <p:row >
                                <p:column colspan="6" >
                                    <p:commandButton id="create" value="Simpan" class="blue-btn" 
                                                     update="appform"  action="#{masterMenuMBean.onCreateSubMenu()}"
                                                     oncomplete="PF('modulMenu').hide()"/>

                                </p:column>
                            </p:row>
                            </p:panelGrid>
                            
                        </p:outputPanel>
                    </p:dialog>
                    <p:dialog header="Tamabh Menu Utama" widgetVar="modulMenuUtama" modal="true" showEffect="explode" hideEffect="explode"
                              responsive="true" resizable="false">
                        <p:outputPanel id="tambahmenuutama" style="text-align:center;">
                            <p:panelGrid  columns="2" columnClasses="label,value">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column colspan="3" style="font-weight: bold;">Tambah Parent Menu</p:column>
                                    </p:row>
                                </f:facet>
                                <p:outputLabel for="menuname" value="Menu Name : " />
                                <p:inputText id="menuname" value="#{masterMenuMBean.menuname}"/>
                                
                                <p:outputLabel for="appmodule" value="Menu Name : " />
                                <p:selectOneMenu  id="appmodule" value="#{masterMenuMBean.appmodule}" filter="true" >
                                    <f:selectItem itemLabel="Pilih Module"  itemValue="" noSelectionOption="true"/>
                                    <f:selectItems var="module" value="#{masterMenuMBean.listAppModule}" 
                                                   itemValue="#{module.masterkey}" itemLabel="#{module.modulename}" />
                                </p:selectOneMenu>
                                
                                <p:outputLabel for="menuitem" value="Menu Item : " />
                                <p:selectBooleanCheckbox id="menuitem" value="#{masterMenuMBean.ismenuitem}" />
                                
                                <p:outputLabel for="link" value="Link : " />
                                <p:inputText id="link" value="#{masterMenuMBean.link}"/>
                                
                                <p:outputLabel for="description" value="Deskripsi : " />
                                <p:inputText id="description" value="#{masterMenuMBean.description}"/>
                                
                            </p:panelGrid>
                            <p:panelGrid columns="1" layout="grid">
                                <p:row >
                                <p:column colspan="6" >
                                    <p:commandButton id="save" value="Simpan" class="blue-btn" 
                                                     update=":appform:tUser"  action="#{masterMenuMBean.onCreateParentMenu()}"
                                                     oncomplete="PF('modulMenuUtama').hide()"/>

                                </p:column>
                            </p:row>
                            </p:panelGrid>
                            
                        </p:outputPanel>
                    </p:dialog>
                    
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

