<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pc="http://primefaces.org/california"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="../WEB-INF/template.xhtml">
            <ui:define name="menucontent">
                <pc:menu model="#{menuDashboardMBean.model}" style="text-align: left"/>
            </ui:define>
            <ui:define name="appcontent">
                <h:form id="appform">
                <p:growl id="messages" sticky="true" autoUpdate="true"  showDetail="true" />
                    <p:outputPanel id="opmain" >
                        <p:tree value="#{dashboardUserMBean.root}" var="doc" selectionMode="single" 
                                selection="#{dashboardUserMBean.selectedNode}" >
                            <p:ajax event="expand" update=":appform:messages" listener="#{dashboardUserMBean.onNodeExpand}" />
                            <p:ajax event="collapse" update=":appform:messages" listener="#{dashboardUserMBean.onNodeCollapse}" />
                            <p:ajax event="select" update=":appform:messages,:appform:opmain" listener="#{dashboardUserMBean.onNodeSelect}" />
                            <p:ajax event="unselect" update=":appform:messages" listener="#{dashboardUserMBean.onNodeUnselect}" />

                            <p:treeNode expandedIcon="ui-icon-folder-open" collapsedIcon="ui-icon-folder-collapsed">
                                <h:outputText value="#{doc}"/>
                            </p:treeNode>
                            <p:treeNode type="document" icon="ui-icon-document">
                                <h:outputText value="#{doc}" />
                            </p:treeNode>
                            <p:treeNode type="picture" icon="ui-icon-image">
                                <h:outputText value="#{doc}" />
                            </p:treeNode>
                            <p:treeNode type="mp3" icon="ui-icon-video">
                                <h:outputText value="#{doc}" />
                            </p:treeNode>
                        </p:tree>
                    </p:outputPanel>
                </h:form>
                
<!--=================================TREE TABLE===================================================================-->                
            <p:separator/>
                <h:form id="form">
                    <p:outputPanel id="opmain2" >
                    <p:growl id="msg" sticky="true" autoUpdate="true"  showDetail="true" />
                    <p:treeTable value="#{dashboardUserMBean.root}" var="document" selectionMode="single"
                                 selection="#{dashboardUserMBean.selectedNode}" widgetVar="wtaccrual">
                        <p:ajax event="expand" listener="#{dashboardUserMBean.onNodeExpand}" update=":form:msg" />
                        <p:ajax event="collapse" listener="#{dashboardUserMBean.onNodeCollapse}" update=":form:msg" />
                        <p:ajax event="select" listener="#{dashboardUserMBean.onNodeSelect}" update=":form:msg,:form:opmain2" />
                        <p:ajax event="unselect" listener="#{dashboardUserMBean.onNodeUnselect}" update=":form:msg" />
                        <f:facet name="header">
                            <p:outputLabel value="Accrual Viewer  " />
                        </f:facet>
                        <p:column headerText="Code" sortBy="#{document.autoindex}"> 
                            <h:outputText value="#{document.accountcode}" />
                        </p:column>
                        <p:column headerText="name" sortBy="#{document.accouncode}" priority="2">
                            <h:outputText value="#{document.accountname}" />
                        </p:column>
                        <p:column headerText="index" sortBy="#{document.accountname}" priority="3">
                            <h:outputText value="#{document.autoindex}" />
                        </p:column>
                        <p:column style="width:24px">
                            <p:commandLink update=":form:documentPanel" oncomplete="PF('documentDialog').show()" title="View Detail" styleClass="ui-icon ui-icon-search">
                                <f:setPropertyActionListener value="#{document}" target="#{dashboardUserMBean.selectedAccrual}" />
                            </p:commandLink>
                        </p:column>
                    </p:treeTable>
                    </p:outputPanel>
                    <p:dialog id="dialog" header="Document Detail" showEffect="fade" widgetVar="documentDialog" modal="true" resizable="false">
                        <p:outputPanel id="documentPanel">
                            <p:panelGrid  columns="2" columnClasses="label,value" rendered="#{not empty dashboardUserMBean.selectedAccrual}">
                                <h:outputLabel for="id" value="ID : " />
                                <h:outputText id="id" value="#{dashboardUserMBean.selectedAccrual.autoindex}" style="font-weight:bold" />

                                <h:outputLabel for="code" value="Code : " />
                                <h:outputText id="code" value="#{dashboardUserMBean.selectedAccrual.accountcode}" style="font-weight:bold" />

                                <h:outputLabel for="name" value="Name : " />
                                <h:outputText id="name" value="#{dashboardUserMBean.selectedAccrual.accountname}" style="font-weight:bold" />
                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

