<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pc="http://primefaces.org/california"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="../WEB-INF/template.xhtml">
            <ui:define name="menucontent">
                <pc:menu model="#{menuDashboardMBean.model}" style="text-align: left;background-color: #122e51;"/>
            </ui:define>
            <ui:define name="appcontent">
                <h:form id="appform">
                    <p:growl id="messages" sticky="true" showDetail="true" />
                        
                            <p:selectOneMenu  value="#{menuConfigMBean.userid}" style="width:125px">
                                <p:ajax event="change" listener="#{menuConfigMBean.selectOneMenu()}" update="username" />
                                <f:selectItem itemLabel="Pilih User " itemValue="" noSelectionOption="true"/>
                                <f:selectItems value="#{menuConfigMBean.listUser}" var="user" itemLabel="#{user.username}" 
                                               itemValue="#{user.masterkey}" />    
                            </p:selectOneMenu>
                            &nbsp;
                            <h:outputLabel for="username" value="User : " style="text-align: center"/> 
                            <p:outputLabel id="username" value="#{menuConfigMBean.username}" />
                            <p:separator/>
                            <p:treeTable id="opmain" value="#{menuConfigMBean.root}" var="document" 
                                             selectionMode="checkbox" selection="#{menuConfigMBean.selectedNode}"
                                             >
                                    
                                    <p:ajax event="expand" update=":appform:messages" listener="#{menuConfigMBean.onNodeExpand}" />
                                    <p:ajax event="collapse" update=":appform:messages" listener="#{menuConfigMBean.onNodeCollapse}" />
                                    <p:ajax event="select" update=":appform:messages,:appform:opmain" listener="#{menuConfigMBean.onNodeSelect}" />
                                    <p:ajax event="unselect" update=":appform:messages" listener="#{menuConfigMBean.onNodeUnselect}" />

                                    
                                        <f:facet name="header">
                                            Pilih Menu Aktif
                                        </f:facet>
                                        <p:column headerText="Name">
                                            <h:outputText value="#{document.title}" />
                                        </p:column>
                                        <p:column headerText="Size">
                                            <h:outputText value="#{document.level}" />
                                        </p:column>
                                        
                                    </p:treeTable>
                                <p:commandButton value="Display" update="messages" icon="ui-icon-newwin" 
                                                 actionListener="#{menuConfigMBean.displaySelectedMultiple(menuConfigMBean.selectedNode)}"/>
                                
                            <p:separator />
                           
                </h:form>
                
            </ui:define>
        </ui:composition>
    </h:body>
</html>
