<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pc="http://primefaces.org/california"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <h:body>
        <ui:composition template="../WEB-INF/template.xhtml">
            <ui:define name="menucontent">
                <pc:menu model="#{menuMBean.model}" style="text-align: left;background-color: #122e51;"/>
            </ui:define>
            <ui:define name="appcontent">
                <h:form id="appform">
                    <p:growl id="msgs" sticky="true" autoUpdate="true"  showDetail="true" life="10500"/>
                    <h:panelGroup id="opmain" rendered="#{userSettingMBean.renderOp1}">
                        <div class="ui-lightbox-content-wrapper">
                            <div class="ui-g">
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <p:panelGrid columns="2" class="header-content-panel">          
                                        <p:commandButton id="tambah" value="Tambah" class="blue-btn"
                                                         actionListener="#{userSettingMBean.tambahAccount()}"
                                                         update="appform tambah">
                                            <!--<f:ajax listener="# {userSettingMBean.tambahAccount()}" render="appform tambah" />-->
                                        </p:commandButton>
                                    </p:panelGrid>
                                </div>
                                <div class="ui-g-12 ui-md-12 ui-lg-12">
                                    <p:dataTable id="tUser" var="museraccount" selectionMode="single" rowKey="#{museraccount}"
                                                 value="#{userSettingMBean.listUserAccount}" widgetVar="wtuseraccount"
                                                 selection="#{userSettingMBean.userAccountSelected}" editable="true" reflow="true"
                                                 emptyMessage="No cars found with given criteria" scrollable="true"
                                                 paginator="true" rows="5" rowsPerPageTemplate="5, 10, 20, 25" paginatorPosition="bottom"
                                                 paginatorTemplate="{CurrentPageReport} {FirstPageLink} {PreviousPageLink} 
                                                 {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}">


                                        <p:ajax event="rowEdit" listener="#{userSettingMBean.onRowEdit}" update=":appform:msgs" />
                                        <p:ajax event="rowEditCancel" listener="#{userSettingMBean.onRowCancel}" update=":appform:msgs" />


                                        <f:facet name="header">
                                            <p:outputPanel style="text-align: right">
                                                <p:outputLabel value="Search : " />
                                                <p:inputText id="globalFilter"   onkeyup="PF('wtuseraccount').filter()" style="width: 150px; font-size: 12px"/>
                                            </p:outputPanel>

                                        </f:facet>
                                        <p:column   headerText="N0" style="width: 20px;text-align: center;font-size: 12px">
                                            <h:outputText value="#{rowindex+1}" />
                                        </p:column>
                                        <p:column filterBy="#{museraccount.masterkey}" filterStyle="display:none" headerText="ID" style="font-size: 12px">
                                            <h:outputText value="#{museraccount.masterkey}" />
                                        </p:column>
                                        <p:column filterBy="#{museraccount.username}" filterStyle="display:none" headerText="User Name " style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{museraccount.username}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{museraccount.username}" style="width:100%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{museraccount.usertype}" filterStyle="display:none" headerText="Account Type" style="width: 70px;font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{museraccount.usertype}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{museraccount.usertype}" style="width:100%"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{museraccount.webref}" filterStyle="display:none"  headerText="Web Ref" style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{museraccount.webref}" /></f:facet>
                                                <f:facet name="input">
                                                    <p:selectOneMenu id="webref" value="#{museraccount.webref}" style="width:100%">
                                                        <f:selectItem itemLabel="Pilih" itemValue=""/>
                                                        <f:selectItem itemLabel="BPKD" itemValue="localhost:8090" />
                                                        <f:selectItem itemLabel="PPKD" itemValue="localhost:8090" />
                                                    </p:selectOneMenu>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{museraccount.appref}" filterStyle="display:none"  headerText="App Ref" style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{museraccount.appref}" /></f:facet>
                                                <f:facet name="input"><p:selectOneMenu id="appref" value="#{museraccount.appref}" style="width:100%">
                                                        <f:selectItem itemLabel="Pilih" itemValue=""/>
                                                        <f:selectItem itemLabel="BPKD" itemValue="localhost:1099" />
                                                        <f:selectItem itemLabel="PPKD" itemValue="localhost:1099" />
                                                    </p:selectOneMenu>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{museraccount.dbref}" filterStyle="display:none"  headerText="DB Ref" style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{museraccount.dbref}" /></f:facet>
                                                <f:facet name="input">
                                                    <p:selectOneMenu id="dbref" value="#{museraccount.dbref}" style="width:100%">
                                                        <f:selectItem itemLabel="Pilih" itemValue=""/>
                                                        <f:selectItem itemLabel="LOGIN" itemValue="localhost:5432/ebudgetlogin" />
                                                        <f:selectItem itemLabel="BPKD" itemValue="localhost:5432/ebudgetbpkd" />
                                                        <f:selectItem itemLabel="PPKD" itemValue="localhost:5432/ebudgetppkd" />
                                                    </p:selectOneMenu>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{museraccount.useractive}" filterStyle="display:none"  headerText="User Active" style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{museraccount.status}" /></f:facet>
                                                <f:facet name="input">
                                                    <p:selectBooleanCheckbox value="#{museraccount.useractive}" />
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{museraccount.useractiatedby}" filterStyle="display:none"  headerText="User Activated By" style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{museraccount.useractiatedby}" /></f:facet>
                                                <f:facet name="input">
                                                    <p:selectOneMenu id="useractivated" value="#{museraccount.useractiatedby}" style="width:100%">
                                                        <f:selectItem itemLabel="Pilih" itemValue=""/>
                                                        <f:selectItem itemLabel="KABID " itemValue="0" />
                                                        <f:selectItem itemLabel="PEGAWAI " itemValue="1" />
                                                        <f:selectItem itemLabel="KARYAAN " itemValue="1" />
                                                    </p:selectOneMenu>
                                                </f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column filterBy="#{museraccount.email}" filterStyle="display:none"  headerText="Email" style="font-size: 12px">
                                            <p:cellEditor>
                                                <f:facet name="output"><h:outputText value="#{museraccount.email}" /></f:facet>
                                                <f:facet name="input"><p:inputText value="#{museraccount.email}" style="width:100%" label="Email"/></f:facet>
                                            </p:cellEditor>
                                        </p:column>
                                        <p:column style="width:32px">
                                            <p:rowEditor />
                                        </p:column>
                                    </p:dataTable>
                                </div>

                            </div>  

                        </div>
                    </h:panelGroup>
                    <h:panelGroup id="opmain2" rendered="#{userSettingMBean.renderOp2}" layout="grid">
                        <p:panelGrid  columns="6" columnClasses="ui-grid-col-3,ui-grid-col-8,ui-grid-col-3,ui-grid-col-8,ui-grid-col-3,ui-grid-col-8" 
                                      layout="grid">
                            <f:facet name="header">
                                <p:row>
                                    <p:column colspan="3" style="font-weight: bold;">Account User </p:column>
                                </p:row>
                            </f:facet>

                            <p:outputLabel for="username" value="User Name : " />
                            <p:inputText id="username" value="#{userSettingMBean.username}"/>
                            
                            <h:outputLabel for="usertype" value="User Type : "/>
                            <p:selectOneMenu id="usertype" value="#{userSettingMBean.usertype}">
                                <f:selectItem itemLabel="Pilih" itemValue=""/>
                                <f:selectItem itemLabel="Administrator" itemValue="1" />
                                <f:selectItem itemLabel="Pengguna" itemValue="2" />
                            </p:selectOneMenu>
                            <h:outputLabel for="webref" value="Web Ref : "/>
                            <p:selectOneMenu id="webref" value="#{userSettingMBean.webref}">
                                <f:selectItem itemLabel="Pilih" itemValue=""/>
                                <f:selectItem itemLabel="BPKD" itemValue="localhost:8090" />
                                <f:selectItem itemLabel="PPKD" itemValue="localhost:8090" />
                            </p:selectOneMenu>
                            <h:outputLabel for="appref" value="App Ref : "/>
                            <p:selectOneMenu id="appref" value="#{userSettingMBean.appref}">
                                <f:selectItem itemLabel="Pilih" itemValue=""/>
                                <f:selectItem itemLabel="BPKD" itemValue="localhost:8010" />
                                <f:selectItem itemLabel="PPKD" itemValue="localhost:8010" />
                            </p:selectOneMenu>
                            <h:outputLabel for="dbref" value="DB Ref : "/>
                            <p:selectOneMenu id="dbref" value="#{userSettingMBean.dbref}">
                                <f:selectItem itemLabel="Pilih" itemValue=""/>
                                <f:selectItem itemLabel="LOGIN" itemValue="localhost:8090/ebudgetlogin" />
                                <f:selectItem itemLabel="BPKD" itemValue="localhost:8090/ebudgetbpkd" />
                                <f:selectItem itemLabel="PPKD" itemValue="localhost:8090/ebudgetppkd" />
                            </p:selectOneMenu>

                            <p:outputLabel for="useractivated" value="Aktivated "/>
                            <p:selectOneMenu id="useractivated" value="#{userSettingMBean.useractivatedby}">
                                <f:selectItem itemLabel="Pilih" itemValue=""/>
                                <f:selectItem itemLabel="KABID " itemValue="0" />
                                <f:selectItem itemLabel="PEGAWAI " itemValue="1" />
                                <f:selectItem itemLabel="KARYAAN " itemValue="1" />
                            </p:selectOneMenu>
                            <p:outputLabel for="email" value="Email : "/>
                            <p:inputText id="email" value="#{userSettingMBean.email}" />
                           
                            <p:outputLabel  style="display: none"/>
                            <p:inputText  style="display: none"/>
                            <p:inputText  style="display: none"/>
                        </p:panelGrid> 
                             <p:separator/>
                            <p:row >
                                <p:column colspan="6" >
                                    <p:commandButton id="simpan" value="Simpan" class="blue-btn" 
                                                     update="appform tambah"  action="#{userSettingMBean.simpan()}"/>

                                    
                
                                    <p:commandButton id="batal" value="Batal" class="blue-btn" 
                                                     actionListener="#{userSettingMBean.cancel()}"/>
                                   
                                    <!--konfirmasi dialog CommandButton-->
                                    <p:confirmDialog global="true" showEffect="fade" hideEffect="fade">
                                        <p:commandButton value="Yes" type="button" styleClass="ui-confirmdialog-yes" icon="ui-icon-check" />
                                        <p:commandButton value="No" type="button" styleClass="ui-confirmdialog-no" icon="ui-icon-close" />
                                    </p:confirmDialog>

                                </p:column>
                            </p:row> 
                        
                    </h:panelGroup>

                    <p:contextMenu for="tUser">
                        <p:menuitem value="View" update="userDetail" icon="ui-icon-search" oncomplete="PF('userDialog').show()"/>
                        <p:menuitem value="Delete" update="tUser" icon="ui-icon-close" actionListener="#{userSettingMBean.simpan()}"/>
                    </p:contextMenu>

                    <p:dialog header="Tamabh User" widgetVar="userDialog" modal="true" showEffect="explode" hideEffect="explode" resizable="false">
                        <p:outputPanel id="userDetail" style="text-align:center;">
                            <p:panelGrid  columns="2" rendered="#{not empty userSettingMBean.userAccountSelected}" columnClasses="label,value">
                                <f:facet name="header">
                                    <p:row>
                                        <p:column colspan="3" style="font-weight: bold;">Account User </p:column>
                                    </p:row>
                                </f:facet>
                                <h:outputText value="User Name:" />
                                <h:outputText value="#{userSettingMBean.userAccountSelected.username}" />

                                <h:outputText value="Account Type" />
                                <h:outputText value="#{userSettingMBean.userAccountSelected.usertype}" />

                                <h:outputText value="Web Ref:" />
                                <h:outputText value="#{userSettingMBean.userAccountSelected.webref}" style="color: #0872b9"/>

                                <h:outputText value="App Ref" />
                                <h:outputText value="#{userSettingMBean.userAccountSelected.appref}" />

                                <h:outputText value="DB Ref" />
                                <h:outputText value="#{userSettingMBean.userAccountSelected.dbref}" />
                                <h:outputText value="Activate" />
                                <h:outputText value="#{userSettingMBean.userAccountSelected.useractive}" />
                                <h:outputText value="Type Activate" />
                                <h:outputText value="#{userSettingMBean.userAccountSelected.useractiatedby}" />
                                <h:outputText value="Email" />
                                <h:outputText value="#{userSettingMBean.userAccountSelected.email}" />
                            </p:panelGrid>
                        </p:outputPanel>
                    </p:dialog>
                </h:form>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

