<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0"/>
            <meta name="apple-mobile-web-app-capable" content="yes" />
            <meta name="theme-color" content="#3F51B5" />
        </f:facet>
        <h:outputScript name="js/ripple.js" library="ultima-layout" />
        <h:outputStylesheet name="css/ripple.css" library="ultima-layout" />
        <h:outputStylesheet name="css/layout-avalon.css" library="ultima-layout" />
        <title>404</title>
    </h:head>
    <h:body class="exception-body accessdenied-page">
        <div class="exception-type">
            <img src="#{resource['ultima-layout:images/404.svg']}" alt="page not found" />
        </div>
        
        <div class="card exception-panel">
            <i class="material-icons"></i>
            <h1>Page Not Found</h1>
            <div class="exception-detail">Halaman Yang Anda Cari Tidak Ditemukan.</div>
            <p:commandButton value="Homepage" />
        </div>
    </h:body>

</html>