<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:pc="http://primefaces.org/california"
      xmlns:p="http://primefaces.org/ui">

    <h:body>
        <ui:composition template="./WEB-INF/templateDashboard.xhtml">
<!--            <ui:define name="menucontent">
                <pc:menu model="" style="text-align: left"/>
            </ui:define>-->
            <ui:define name="appcontent">
                <div class="dashboard" style="background-image: url('./resources/images/indonesian-flag.gif');
                     background-repeat: no-repeat, repeat; background-color: #cccccc;">
                   
                        <div class="ui-g ui-fluid"  style="margin: 0 auto">
                            <div class="ui-g-12 ui-md-12 ui-lg-12">
                                <h:outputLabel value="PILIH MODUL :" style="font-size: 60px; font-family: sans-serif;
                                               font-weight: bold;text-align: center;" />
                            </div>
                            
                            <ui:repeat value="#{buttonModulMBean.masterButton}" var="button">
                                <div class="ui-g-12 ui-md-6 ui-lg-3">
                                    <p:commandLink action="#{buttonModulMBean.onSubmit(button.link)}" >
                                    <div class="overview-box monthly-views">
                                        <div class="overview-title">#{button.modulename}</div>
                                        <i class="fa fa-arrow-circle-up"></i>
                                        <div class="overview-numbers">
                                            <strong>#{button.description}</strong>
                                        </div>
                                        <img id="j_idt83" src="#{button.icon}" alt=""
                                             width="70%" height="70%"/>
                                    </div>
                                </p:commandLink>    
                            </div>
                            </ui:repeat>
                            
<!--==============================================================================================================-->                            
                            
                            <div class="dashboard">
                                <div class="ui-g">   
                                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                                        <p:chart type="line" model="#{buttonModulMBean.lineAnimatedModel}" responsive="true"/>
                                    </div>
                                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                                            <p:chart type="bar" model="#{buttonModulMBean.barAnimatedModel}" responsive="true"/>
                                    </div>
                                    <div class="ui-g-12 ui-md-12 ui-lg-4">
                                            <p:chart type="pie" model="#{buttonModulMBean.pieAnimatedModel}" responsive="true" />
                                    </div>
                                    
                                    <div class="ui-g">
                                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                                            <div class="overview-box monthly-sales">
                                                <div class="overview-title">SALES</div>
                                                <i class="fa fa-arrow-circle-up"></i>
                                                <div class="overview-numbers">
                                                    <strong>$ 22,650</strong>
                                                </div>
                                                <div class="overview-ratios">16% more than previous month</div><img id="j_idt81" src="https://cdn2.iconfinder.com/data/icons/shopping-67/24/Sales_rise-512.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                                            <div class="overview-box monthly-views">
                                                <div class="overview-title">VIEWS
                                                    <i class="fa fa-arrow-circle-down"></i>
                                                </div>
                                                <div class="overview-numbers">
                                                    <strong>6215</strong>/Day</div>
                                                <div class="overview-ratios">2% less than previous month</div><img id="j_idt83" src="http://www.reportid.co.id/img/pecahan/view.png" alt="" />
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-12 ui-lg-4">
                                            <div class="overview-box monthly-users">
                                                <div class="overview-title">USERS
                                                    <i class="fa fa-arrow-circle-up"></i>
                                                </div>
                                                <div class="overview-numbers">
                                                    <strong>5288</strong>/Day</div>
                                                <div class="overview-ratios">9% more than previous month </div><img id="j_idt85" src="http://www.pvhc.net/img1/aqdxbomfsxkxpifidppy.png" alt="" />
                                            </div>
                                        </div>

                                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                            <div class="stats">
                                                <div class="stats-icon"><img id="j_idt87" src="https://www.primefaces.org/california/javax.faces.resource/images/icon-message.png.xhtml;jsessionid=node01gqpwl7xepnuy1tcdojb4zhww236802.node0?ln=california-layout" alt="" class="message-icon" />
                                                </div>
                                                <div class="stats-numbers">150</div>
                                                <div class="stats-title">Unread Messages</div>
                                                <div class="stats-subtitle">You stared
                                                    <span>5</span> messages today</div>
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                            <div class="stats">
                                                <div class="stats-icon"><img id="j_idt89" src="https://www.primefaces.org/california/javax.faces.resource/images/icon-doc.png.xhtml;jsessionid=node01gqpwl7xepnuy1tcdojb4zhww236802.node0?ln=california-layout" alt="" class="doc-icon" />
                                                </div>
                                                <div class="stats-numbers">532</div>
                                                <div class="stats-title">Files Synced</div>
                                                <div class="stats-subtitle">
                                                    <span>21%</span> more than yesterday</div>
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                            <div class="stats">
                                                <div class="stats-icon"><img id="j_idt91" src="https://www.primefaces.org/california/javax.faces.resource/images/icon-mark.png.xhtml;jsessionid=node01gqpwl7xepnuy1tcdojb4zhww236802.node0?ln=california-layout" alt="" class="mark-icon" />
                                                </div>
                                                <div class="stats-numbers">450</div>
                                                <div class="stats-title">Check-ins</div>
                                                <div class="stats-subtitle">
                                                    <span>12%</span> less than yesterday</div>
                                            </div>
                                        </div>
                                        <div class="ui-g-12 ui-md-6 ui-lg-3">
                                            <div class="stats">
                                                <div class="stats-icon"><img id="j_idt93" src="https://www.primefaces.org/california/javax.faces.resource/images/icon-profile.png.xhtml;jsessionid=node01gqpwl7xepnuy1tcdojb4zhww236802.node0?ln=california-layout" alt="" class="profile-icon" />
                                                </div>
                                                <div class="stats-numbers">974</div>
                                                <div class="stats-title">Users Online</div>
                                                <div class="stats-subtitle">
                                                    <span>35210</span> total page view today</div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                            
                        </div>
                    </div>
            </ui:define>
        </ui:composition>
    </h:body>
</html>

