<?xml version='1.0' encoding='UTF-8' ?>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
    <h:head>
        <f:facet name="first">
            <meta http-equiv="X-UA-Compatible" content="IE=edge" />
            <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
            <meta name="apple-mobile-web-app-capable" content="yes" />
        </f:facet>
        <h:outputStylesheet name="css/layout-alive.css" library="california-layout" />
    <title>Access Denied</title>
    </h:head>
    <h:body class="exception-body">
        <div class="exception-topbar">
            <a href="#" class="logo">
                <img id="j_idt8" src="#{resource['california-layout:images/logo.png']}" alt="Logo Siap BMD" />
            </a>
        </div>
        <div class="exception-panel">
            <img src="#{resource['california-layout:images/icon-access.png']}" alt="Access Denied" class="exception-icon" />
            <h1 class="exception-summary">Access Denied</h1>
            <p class="exception-detail">
                Anda tidak memiliki akses untuk mengakses halaman ini.<br />
                Silahkan kembali ke menu sebelumnya.
            </p>
            <div>
                <p:commandButton value="Kembali" class="blue-btn" onclick="history.back(-1)" />
            </div>
        </div>
    </h:body>
</html>